*{
    margin: 0;
    padding: 0;
}
#blur-div{
    /*width: 503px;*/
    /*height: 671px;*/
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#blur-image{
    display: block;
    /*width: 503px;*/
    /*height: 671px;*/
    margin: 0 auto;

    filter: blur(15px);
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -ms-filter: blur(15px);
    -o-filter: blur(15px);

    position: absolute;
    left: 0;
    top:0;
    z-index: 0;
}

#canvas{
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top:0;
    z-index: 100;
    /*background-color: red;*/
}
.button{
    display: block;
    position: absolute;
    z-index: 200;
    width: 100px;
    height: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}
#reset-button{
    left: 50px;
    bottom: 60px;
    background-color: #058;
}
#reset-button:hover{
    background-color: #047;
}
#show-button{
    right: 50px;
    bottom: 60px;
    background-color: #085;
}
#show-button:hover{
    background-color: #074;
}








